## sloeber sketches ##
core
Release
.settings
.project
.cproject
libraries
sloeber.ino.cpp

## cmake ##
.idea
cmake-build-debug
*.elf
*.hex

## hide cmake
/CMakeLists.txt
/cmake
/upload.sh
/compile.sh